<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

		<h1>掲示板アプリケーション</h1>
		
	<form th:action="@{/board/inserArticle}" method="post">
		投稿者名：<input type="text" name="name"><br>
		投稿内容：<textarea rows="3" cols="30" name="content"></textarea><br>
		<button>記事投稿</button>
	</form>
	
	<br>
	
	<div th:each="article : ${articleList}">
		<hr>
		<form th:action="@{/board/delete}" method="post">
		<input type="hidden" name="id" th:value="${article.id}">
		投稿ID：<span th:text="${article.id}"></span><br>
		投稿者名：<span th:text="${article.name}"></span><br>
		投稿内容：<span th:text="${article.content}"></span><br>
		<button>記事削除</button><br>
		</form>
		<br>

			<div th:each="comment : ${article.commentList}">
				
				コメントID：<span th:text="${comment.id}"></span><br>
				コメント者名：<span th:text="${comment.name}"></span><br>
				コメント内容：<span th:text="${comment.content}"></span><br>
			<br>
			</div>

			
				<form  th:action="@{/board/insertComment}" method="post">
			
					<input type="hidden" name="articleId" th:value="${article.id}">
					名前：<input type="text" name="name"><br>
					コメント：<textarea rows="3" cols="30" name="content"></textarea> <br>
					<button>コメント投稿</button>
			
				</form>	
	</div>
	

</body>
</html>